USE [master]
GO
/****** Object:  Database [EventSystem]    Script Date: 7/11/2026 11:08:44 PM ******/
CREATE DATABASE [EventSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EventSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EventSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventSystem]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 7/11/2026 11:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 7/11/2026 11:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SpeakerName] [nvarchar](100) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[RoomName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionRegistration]    Script Date: 7/11/2026 11:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionRegistration](
	[SessionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/11/2026 11:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Title], [Description], [StartDate], [EndDate], [Location], [EventType]) VALUES (1, N'Israel Football Youth Academy Day 2026', N'A football event focused on youth player development, coaching, scouting, nutrition and mental preparation.', CAST(N'2026-07-15T09:00:00.000' AS DateTime), CAST(N'2026-07-15T17:00:00.000' AS DateTime), N'Ruppin Academic Center', N'Football Youth Academy Event')
INSERT [dbo].[Event] ([Id], [Title], [Description], [StartDate], [EndDate], [Location], [EventType]) VALUES (2, N'Football Fans Content Creators Evening 2026', N'An evening event for football fans who create social media content, match videos, reels and fan community posts.', CAST(N'2026-07-20T16:00:00.000' AS DateTime), CAST(N'2026-07-20T21:30:00.000' AS DateTime), N'Tel Aviv Sports Center', N'Football Content Event')
INSERT [dbo].[Event] ([Id], [Title], [Description], [StartDate], [EndDate], [Location], [EventType]) VALUES (3, N'Israel National Team Fans Day 2026', N'A full day event for Israel national football team fans with lectures, trivia, workshops and match screening.', CAST(N'2026-08-10T10:00:00.000' AS DateTime), CAST(N'2026-08-10T22:30:00.000' AS DateTime), N'Bloomfield Stadium Tel Aviv', N'Football Fans Event')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([Id], [EventId], [Title], [Description], [SpeakerName], [StartTime], [EndTime], [RoomName]) VALUES (4, 3, N'Opening Fans Meeting', N'Opening meeting for all football fans and explanation of the day schedule.', N'Event Team', CAST(N'2026-08-10T10:00:00.000' AS DateTime), CAST(N'2026-08-10T11:00:00.000' AS DateTime), N'Main Hall')
INSERT [dbo].[Session] ([Id], [EventId], [Title], [Description], [SpeakerName], [StartTime], [EndTime], [RoomName]) VALUES (5, 3, N'Tactical Analysis Workshop', N'A workshop about football tactics and match analysis.', N'Coach Daniel', CAST(N'2026-08-10T11:15:00.000' AS DateTime), CAST(N'2026-08-10T12:30:00.000' AS DateTime), N'Analysis Room')
INSERT [dbo].[Session] ([Id], [EventId], [Title], [Description], [SpeakerName], [StartTime], [EndTime], [RoomName]) VALUES (6, 3, N'Football Trivia Competition', N'Football trivia competition for fans.', N'Quiz Team', CAST(N'2026-08-10T13:00:00.000' AS DateTime), CAST(N'2026-08-10T14:00:00.000' AS DateTime), N'Trivia Zone')
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
INSERT [dbo].[SessionRegistration] ([SessionId], [UserId], [RegistrationDate]) VALUES (4, 3, CAST(N'2026-07-11T21:13:09.653' AS DateTime))
INSERT [dbo].[SessionRegistration] ([SessionId], [UserId], [RegistrationDate]) VALUES (5, 3, CAST(N'2026-07-11T21:13:16.283' AS DateTime))
INSERT [dbo].[SessionRegistration] ([SessionId], [UserId], [RegistrationDate]) VALUES (8, 3, CAST(N'2026-07-11T23:01:21.967' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Email]) VALUES (1, N'John Doe', N'john.doe@example.com')
INSERT [dbo].[User] ([Id], [FullName], [Email]) VALUES (2, N'Jane Smith', N'jane.smith@example.com')
INSERT [dbo].[User] ([Id], [FullName], [Email]) VALUES (3, N'Bob Johnson', N'bob.j@example.com')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534D2AE247A]    Script Date: 7/11/2026 11:08:44 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SessionRegistration] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionRegistration]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionRegistration]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
